/* a {
	text-decoration: none;
	color: #000;
}

a.current {
	color: #d71a00;
}

.third, .event {
	width: 320px;
	float: left;
	text-align: center;
}

.third p {
	padding: 0 20px 0 20px;
	margin: 40px 0 20px 0;
	text-align: left;
	line-height: 1.4em;
}

#sessions a:hover {
	color: #1fb684;
}

#sessions a {
	font-family: oswald, arial, sans-serif;
	font-size: 120%;
}

#sessions p {
	margin-top: 2em;
}

#sessions ul {
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	padding: 0 20px 0 20px;
	margin: 0 0 40px 0;
}

#sessions li {
	list-style-type: none;
	padding: 20px 0 20px 0;
	background-color: #ECECEC;
	border-top: 1px solid #d6d6d6;
	text-align: left;
}

#sessions li:first-child {
	border-top: none;
	padding-top: 1.8em;
}

#sessions li .time {
	display: inline-block;
	width: 60px;
} */