@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
.navbar{ 
	background-color:black;
	border: none; 
	padding-bottom: 10px;
	font-weight: 300;
	 font-size: 18px;
	 height: 80px; 
	 text-transform: capitalize; 
	 border-bottom: 1px solid #AAAAAA;
		color: black;
}
.navbar-header{
	margin:0 15px;
	 font-size: 18px;
}
	 
.navbar-toggle {position: relative; margin-top: 40px;top: 2px;}
.navbar-nav { padding-right: 10px;margin-top: 15px;}
.navbar-nav li { margin:0 15px;}
.navbar-brand{
	margin-top:0px;
}