a{
	color: #000;
}
h1{
  font-size: 33px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  /* margin-bottom: 15px; */
}
table{
  width:100%;
  table-layout: fixed;
}


.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:400px;
  overflow-x:auto;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}
td{
  padding: 10px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 17px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  font-family: 'Roboto', sans-serif;
}
.table-size{
	margin:0 5px;
	/* margin: 50px; */
}
section{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4); 
  vertical-align: middle;
  width : 100%;
  padding-top:10px;
  margin-top: -100px;
  
}
